<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/styles/salesforce-lightning-design-system.min.css" />
  <link rel="stylesheet" href="/styles/custom.css" />
  <script src="javascript/libs/jquery.min.js"></script>
  <script src="javascript/libs/jquery.validate.min.js"></script>
  <script src="javascript/libs/postmonger.js"></script>
  <script src="javascript/customActivity.js" defer></script>
  <title>
    <%=title %>
  </title>
</head>

<body>
  <input type="hidden" id="access_token" value="<%=accessToken %>"></input>

  <article class="slds-card">
    <div class="slds-card__header slds-grid">
      <header class="slds-media slds-media_center slds-has-flexi-truncate">
        <div class="slds-media__figure">
          <span class="slds-icon_container slds-icon-standard-contact"><svg class="slds-icon slds-icon_small"
              aria-hidden="true">
              <use xlink:href="/icons/standard-sprite/svg/symbols.svg#custom"></use>
            </svg></span>
        </div>
        <div class="slds-media__body">
          <h2 class="slds-card__header-title">
            <a class="slds-card__header-link slds-truncate"><span>LOGGER ACTIVITY
              </span></a>
          </h2>
        </div>
      </header>
    </div>
  </article>

  <div class="form">
    <div class="form__container">
      <div class="form__field">
        <div class="form__field--label">
          <label>Campaign ID</label>
        </div>
        <div class="form__field--input">
          <input type="text" id="campaign-id">
        </div>
      </div>
      <div class="form__field">
        <div class="form__field--label">
          <label>Control Group</label>
        </div>
        <div class="form__field--input">
          <input type="text" id="control-group">
        </div>
      </div>
      <div class="form__field">
        <div class="form__field--label">
          <label>Type of offer</label>
        </div>
        <div class="form__field--input-drop">
          <input type="text" id="control-group">
          <span>icon</span>
          <div class="form__field--input-search-box">
            <div>options</div>
            <div>options</div>
            <div>options</div>
            <div>options</div>
          </div>
        </div>
      </div>
      <div class="form__field">
        <div class="form__field--label">
          <label>Campaign name</label>
        </div>
        <div class="form__field--input">
          <input type="text" id="campaign-name">
        </div>
      </div>
      <div class="form__field">
        <div class="form__field--label">
          <label>Type of communication</label>
        </div>
        <div class="form__field--input-drop">
          <input type="text" id="control-group">
          <span>icon</span>
          <div class="form__field--input-search-box">
            <div>options</div>
            <div>options</div>
            <div>options</div>
            <div>options</div>
          </div>
        </div>
      </div>
      <div class="form__field">
        <div class="form__field--label">
          <label>Type of product</label>
        </div>
        <div class="form__field--input-drop">
          <input type="text" id="control-group">
          <span>icon</span>
          <div class="form__field--input-search-box">
            <div>options</div>
            <div>options</div>
            <div>options</div>
            <div>options</div>
          </div>
        </div>
      </div>
      <div class="form__field">
        <div class="form__field--label">
          <label>Group campaign</label>
        </div>
        <div class="form__field--input-drop">
          <input type="text" id="control-group">
          <span>icon</span>
          <div class="form__field--input-search-box">
            <div>options</div>
            <div>options</div>
            <div>options</div>
            <div>options</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script></script>

</body>

</html>